* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e2127;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    width: 50vh;
    height: 50vh;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.board-pos {
    float: left;
    width: calc(50vh / 3);
    height: calc(50vh / 3);
    color: #eef;
    background-color: #81a1c1;
    border: 1px solid #282c34;
    font-style: bold;
    font-size: calc(50vh / 4);
}

.board-pos:hover {
    background-color: #3c5e80;
    border: 2px solid #1e2127;
}

.board-pos:active {
    background-color: #3c5e80;
    border: 6px solid #1e2127;
}

.new-game-btn {
    position: absolute;
    top: 85vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: calc(50vh / 2.5);
    height: 10vh;
    font-family: cursive;
    font-size: calc(50vh / 17);
    color: #fff;
    background-color: #e06c75;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #1e2127;
}

.new-game-btn:hover {
    background-color: #bc4750;
}

.new-game-btn:active {
    box-shadow: 3px 3px 5px #1e2127;
    transform: translate(-48%, -48%);
}

.message {
    color: #dea0f0;
    font-family: cursive;
    font-size: 2.5vw;
    position: absolute;
    top: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.winning-move {
    background-color: #98c379;
}

.winning-move:hover {
    background-color: #98c379;
}

.scores {
    position: absolute;
    top: 6vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.score {
    color: #ffffff;
    font-family: cursive;
    font-size: 1.5vw;
    display: inline;
    margin: 0.5vw;
}
